@CHARSET "ISO-8859-1";

.LoginBackGround-Image {
	background-image: url(../images/StockMarket.jpg);
}

.FormDesign {
	background-color: rgba(0,0,0);
	max-width: 700px;
	padding: 10px 30px 30px 30px;
	margin: 30px auto 0 auto;
	font-size: 105%;
	font-family: Georgia;
}

.PortfolioDesign {
	background-color: white;
	max-width: 700px;
	padding: 10px 30px 30px 30px;
	margin: 30px auto 0 auto;
	font-size: 105%;
	font-family: Georgia;
}

ul {
	list-style-type: none;
	overflow: hidden;
	width: 500px;
	position: relative;
	left: 60%;
}

.welcome {
	width: 300px;
	font-family: 'Righteous', cursive;
	color: #fff;
	font-size: 20px;
	position: relative;
	top: 12px;
	right: 440px;
}

.copyright {
	font-family: 'Righteous', cursive;
	color: #fff;
	font-size: 15px;
	position: relative;
	top: 20px;
}

a {
	width: 120px;
	color: #ffffff;
	font-size: 17px;
	font-family: 'Righteous', cursive;
}

a.signup {
	font-family: 'Righteous', cursive;
	color: #8080ff;
	font-size: 25px;
	text-decoration: none;
}

a.title {
	width: 300px;
	font-family: 'Righteous', cursive;
	color: #fff;
	font-size: 25px;
	text-decoration: none;
}

a.fp {
	display: inline;
	position: relative;
	top: 10px;
	color: #0B570C;
	text-decoration: underline;
}

#footer {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
}

a.member {
	display: inline;
	color: #0B570C;
	text-decoration: none;
}

a.fp1 {
	display: inline;
	color: #0B570C;
	text-decoration: underline;
}

.navbar ul li img {
	position: absolute;
}

a:hover {
	color: #10b6a5;
}

table, th, td {
	border: 1px solid blue;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

#move_right {
	display: inline-block;
	padding-right: 10px;
	padding-left: 20px
}

label {
	color: #9932CC;
	font-weight: bold;
	font-size: 1.0em;
	font-weight: 150;
	font-family: Georgia;
}

input, textarea {
	padding: 5px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.button {
	font-family: Georgia;
	font-size: 1.0em;
	font-weight: 150;
	border-radius: 4px;
	padding: 0.6em 1.25em;
	cursor: pointer;
	text-align: center;
	color: white;
	background: #400090;
	border: 1px solid #380f59;
	float: left;
}

#p1 {
	color: #400090;
	font-size: 105%;
	font-family: Georgia;
}

.button2 {
	font-family: Georgia;
	font-size: 1.0em;
	font-weight: 150;
	border-radius: 4px;
	padding: 0.6em 1.25em;
	cursor: pointer;
	text-align: center;
	color: white;
	background: #400090;
	border: 1px solid #380f59;
}

.sellButton {
	font-family: Georgia;
	font-size: 1.0em;
	font-weight: 150;
	border-radius: 4px;
	padding: 0.6em 1.25em;
	cursor: pointer;
	text-align: center;
	color: white;
	background: #c73c38;
	border: 1px solid #380f59;
}

.buyButton {
	font-family: Georgia;
	font-size: 1.0em;
	font-weight: 150;
	border-radius: 4px;
	padding: 0.6em 1.25em;
	cursor: pointer;
	text-align: center;
	color: white;
	background: #50952f;
	border: 1px solid #380f59;
}

.searchButton {
	font-family: Georgia;
	font-size: 1.0em;
	font-weight: 150;
	border-radius: 4px;
	padding: 0.6em 1.25em;
	cursor: pointer;
	text-align: center;
	color: white;
	background: #723e86;
	border: 1px solid #380f59;
}

.logoutButton {
	font-family: Georgia;
	font-size: 1.0em;
	font-weight: 150;
	border-radius: 4px;
	padding: 0.6em 1.25em;
	cursor: pointer;
	text-align: center;
	color: white;
	background: #feaa2c;
	border: 1px solid #380f59;
}

body#home a#homenav, body#register a#registernav, body#login a#loginnav,
	body#help a#helpnav, body#about a#aboutnav {
	color: #10b6a5;
}